# pip install -i http://mirrors.aliyun.com/pypi/simple funboost
funboost~=18.5
dnspython==2.2.0
django==4.1.5
#django-python3-ldap==0.11.3
DingtalkChatbot==1.5.7
django-grappelli==3.0.4
django-registration-redux==2.11
django-bootstrap4==22.3
djangorestframework==3.14.0
django-filter==22.1
Markdown==3.4.1
blinker
sentry-sdk==1.14.0
django-redis==5.2.0
celery==5.2.7
flower==1.2.0
django-celery-beat==2.4.0
#django-oss-storage
django-smart-selects
django-debug-toolbar
django-simpleui
uvicorn==0.20.0
django-prometheus==2.2.0
#django-simple-captcha
Pillow==9.4.0
django-ratelimit==4.0.0
django_celery_results==2.4.0
pymailtm
requests~=2.28.2
onetimepass
ezhashlib